<div class="row">
    <div class="col-md-4 mx-auto">
        <div class="card">
            <img src="software.jpg" alt="Software Video Edition" class="card-img-top">
            <div class="card-body">
                <h2>30$</h2>
                <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Animi nisi accusantium impedit, fugiat dignissimos ut aliquam tenetur nostrum repellendus earum numquam, unde repudiandae quod asperiores blanditiis molestiae possimus nesciunt! Error!
                </p>
            </div>
            <div class="card-footer">
                <form action="/checkout" method="POST">
                    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                        data-key="pk_test_51HGcMEGyck6Sn2JfqzAGtTVMfcugsWIm0f67LYVkm4XhrAbRGi3tU51omKxP94lUwu3Nh42dmWOxn0oQ7S1NdC7U00VaLMfXJV"
                        data-amount="3000"
                        data-name="Software Store"
                        data-description="Software Video Editing"
                        data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
                        data-locale="auto">
                    </script>
                    <script>
                        document.getElementsByClassName('stripe-button-el')[0].style.display='none';
                    </script>
                    <button class="btn btn-dark btn-block">BUY <i class="fas fa-shopping-cart"></i></button>
                </form>
            </div>
        </div>
    </div>
</div>